body{
    font-family: 'Open Sans', sans-serif;
}

.form-control{
    border-color: transparent;
    border-bottom: 1px solid black;
    box-shadow: none;
    background: transparent;
}

.form-control:focus{ 
    box-shadow: none;
    border: transparent;
    border-bottom: 1px solid black;
    background: transparent;
}

.center{
    text-align: center;
}

.btn-round{
    border-radius: 50px;
}

.hidden{
    display: none;
}

.orange{
    color: #ff8800;
    border-color: #ff8800;
}

.orange:hover{
    color: #ff8800;
    border-color: #ff8800;
}

.blue-skye{
    color: #1792f7;
    border-color: #1792f7;
}

.blue-skye:hover{
    background: #1792f7;
    color: #ffffff;
}

.img-logo-nav{
    width: 30%;
}

.exit{
    color: #ec1313;
}

.exit:hover{
    color: #ad0606;
}

.link-none:hover{
    text-decoration:none; 
}